<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo-test.jpg", class: "logo-navbar"%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag "banner.jpg", class: "avatar-bordered"%>
    <i class="fas fa-caret-down lightgrey"></i>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "About me", "/#about-me", class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", "/#projects", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", "/#contact", class: "nav-link" %>
      </li>
      <li class="nav-item-avatar">
        <%= image_tag "banner.jpg", class: "avatar-bordered"%>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "About me", "#", class: "dropdown-item" %>
          <%= link_to "Projects", "#", class: "dropdown-item" %>
          <%= link_to "Contact", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
